<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{217,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{1436,1},{217,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{271,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{1,539},{271,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{215,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{1458,503},{215,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,0}</string>
                <key>spriteSize</key>
                <string>{219,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{1215,1},{219,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,0}</string>
                <key>spriteSize</key>
                <string>{219,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{1237,503},{219,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_airplane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{248,536}</string>
                <key>spriteSourceSize</key>
                <string>{252,544}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{238,535}</string>
                <key>spriteSourceSize</key>
                <string>{258,539}</string>
                <key>textureRect</key>
                <string>{{251,1},{238,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bulb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,498}</string>
                <key>spriteSourceSize</key>
                <string>{216,498}</string>
                <key>textureRect</key>
                <string>{{1675,1},{216,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{238,535}</string>
                <key>spriteSourceSize</key>
                <string>{278,551}</string>
                <key>textureRect</key>
                <string>{{491,1},{238,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{230,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{503,788},{230,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{230,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{1005,503},{230,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{248,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{503,538},{248,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fish_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{246,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{731,1},{246,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fish_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{234,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{979,1},{234,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pencil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,498}</string>
                <key>spriteSourceSize</key>
                <string>{215,498}</string>
                <key>textureRect</key>
                <string>{{1675,501},{215,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>character_animation.png</string>
            <key>size</key>
            <string>{1892,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e47eb84b3639946738a291a1185d84e:eaa51bd00a9ae9e056cded8d1daeea2e:7eec51fb327c6d8ef3ebe0559961d17c$</string>
            <key>textureFileName</key>
            <string>character_animation.png</string>
        </dict>
    </dict>
</plist>
