<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airplane_fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{75,100}</string>
                <key>spriteSourceSize</key>
                <string>{75,110}</string>
                <key>textureRect</key>
                <string>{{578,599},{75,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airplane_fly_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{680,599},{75,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airplane_fly_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,47}</string>
                <key>spriteSourceSize</key>
                <string>{68,47}</string>
                <key>textureRect</key>
                <string>{{853,586},{68,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airplane_fly_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{961,168},{58,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,101}</string>
                <key>spriteSourceSize</key>
                <string>{74,101}</string>
                <key>textureRect</key>
                <string>{{475,599},{74,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloon_break_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,131}</string>
                <key>spriteSourceSize</key>
                <string>{166,131}</string>
                <key>textureRect</key>
                <string>{{707,347},{166,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,141}</string>
                <key>spriteSourceSize</key>
                <string>{249,141}</string>
                <key>textureRect</key>
                <string>{{456,339},{249,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,253}</string>
                <key>spriteSourceSize</key>
                <string>{238,253}</string>
                <key>textureRect</key>
                <string>{{201,302},{238,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloon_break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,522}</string>
                <key>spriteSourceSize</key>
                <string>{198,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_break_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{71,99}</string>
                <key>spriteSourceSize</key>
                <string>{77,99}</string>
                <key>textureRect</key>
                <string>{{824,513},{71,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulb_break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,115}</string>
                <key>spriteSourceSize</key>
                <string>{83,115}</string>
                <key>textureRect</key>
                <string>{{645,482},{83,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,177}</string>
                <key>spriteSourceSize</key>
                <string>{180,177}</string>
                <key>textureRect</key>
                <string>{{779,168},{180,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,104}</string>
                <key>spriteSourceSize</key>
                <string>{259,104}</string>
                <key>textureRect</key>
                <string>{{505,233},{259,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_break_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,47}</string>
                <key>spriteSourceSize</key>
                <string>{342,47}</string>
                <key>textureRect</key>
                <string>{{137,542},{342,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-2}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{753,594},{72,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulb_light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{74,102}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{371,591},{74,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulb_light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,5}</string>
                <key>spriteSize</key>
                <string>{92,112}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{730,480},{92,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_light_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,7}</string>
                <key>spriteSize</key>
                <string>{134,152}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{1,525},{134,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_light_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{148,164}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{875,347},{148,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,52}</string>
                <key>textureRect</key>
                <string>{{961,228},{45,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_break_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,115}</string>
                <key>spriteSourceSize</key>
                <string>{162,115}</string>
                <key>textureRect</key>
                <string>{{481,482},{162,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,165}</string>
                <key>spriteSourceSize</key>
                <string>{212,165}</string>
                <key>textureRect</key>
                <string>{{779,1},{212,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,230}</string>
                <key>spriteSourceSize</key>
                <string>{272,230}</string>
                <key>textureRect</key>
                <string>{{505,1},{272,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,299}</string>
                <key>spriteSourceSize</key>
                <string>{302,299}</string>
                <key>textureRect</key>
                <string>{{201,1},{302,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_wiggle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{925,513},{70,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_wiggle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{76,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{137,591},{76,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_wiggle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{76,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{215,591},{76,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_wiggle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{925,585},{70,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_wiggle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{76,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{293,591},{76,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pencil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,94}</string>
                <key>spriteSourceSize</key>
                <string>{30,94}</string>
                <key>textureRect</key>
                <string>{{993,1},{30,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>throwingitem_animation.png</string>
            <key>size</key>
            <string>{1024,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0f0dc9718fa41c8d18e69f2da2210da:43c373a7a49faf9f42e22679ac120f2a:4172cc91107c112958b87f1906dd2f84$</string>
            <key>textureFileName</key>
            <string>throwingitem_animation.png</string>
        </dict>
    </dict>
</plist>
