<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_shuk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,549}</string>
                <key>spriteSourceSize</key>
                <string>{238,549}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_shuk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,549}</string>
                <key>spriteSourceSize</key>
                <string>{238,549}</string>
                <key>textureRect</key>
                <string>{{241,1},{238,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_shuk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,549}</string>
                <key>spriteSourceSize</key>
                <string>{238,549}</string>
                <key>textureRect</key>
                <string>{{1,552},{238,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_shuk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,549}</string>
                <key>spriteSourceSize</key>
                <string>{238,549}</string>
                <key>textureRect</key>
                <string>{{1,1103},{238,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_shuk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,549}</string>
                <key>spriteSourceSize</key>
                <string>{238,549}</string>
                <key>textureRect</key>
                <string>{{241,552},{238,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_shuk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,549}</string>
                <key>spriteSourceSize</key>
                <string>{238,549}</string>
                <key>textureRect</key>
                <string>{{241,1103},{238,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>store_character.png</string>
            <key>size</key>
            <string>{480,1653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7ce4c8e9a9bd8a3d3dd41ebb7e78a3:2ceccb1b1d3543093ba9dfb5ac039720:529cec7a37ef6f174a1aa5bdb8a7c44f$</string>
            <key>textureFileName</key>
            <string>store_character.png</string>
        </dict>
    </dict>
</plist>
